:root {
    --body-background-color: #ffffff;
    --main-color: #6F38C5;
    --main-font-color: white;
    --footer-background-color: rgb(235, 235, 235);
    --banner-font-color: white;
    --card-background-color: #87A2FB;
    --part-title-font-color: #5926ac;
    --project-background-color: #6F38C5;
    --link-color: rgb(70, 70, 70);
    /* ====== */
    --card-padding: 22px;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    color: var(--main-font-color);
    background-color: var(--body-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 200px;
    padding: 20px;
    font-size: 26px;
    background-color: black;
    background-image: url('https://pic1.imgdb.cn/item/63396bdb16f2c2beb1179f5c.jpg');
    background-position: center;
    background-size: cover;
    color: var(--banner-font-color);
}

/* ====== */
.content {
    padding: 20px;
}

.part {
    margin-top: 10px;
    margin-bottom: 60px;
}

.part-title {
    color: var(--part-title-font-color);
    font-size: 22px;
}

/* ====== */
.member-list {
    display: grid;
    grid-gap: 18px;
}

@media screen and (max-width: 500px) {
    .member-list {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 500px) and (max-width: 780px) {
    .member-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 780px) and (max-width: 1000px) {
    .member-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1280px) {
    .member-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1280px) {
    .member-list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.member-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 300px;
    padding: var(--card-padding);
    padding-bottom: 60px;
    background-color: var(--card-background-color);
}

.member-item-avatar {
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 200px;
    overflow: hidden;
}

.member-item-username {
    font-size: 18px;
}

.member-item-link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.364);
}

.member-item-link:hover {
    background-color: rgba(255, 255, 255, 0.544);
}

.member-item-link>img {
    margin: 5px;
}

/* ====== */
.project-list {
    display: grid;
    grid-gap: 18px;
}

@media screen and (max-width: 600px) {
    .project-list {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 600px) and (max-width: 1080px) {
    .project-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1080px) {
    .project-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.project-item {
    position: relative;
    color: var(--main-font-color);
    padding: var(--card-padding);
    background-color: var(--project-background-color);
}

.project-item-name {
    font-size: 18px;
}

.project-item-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
}

.project-item-img:hover{
    opacity: .2;
}

/* .project-item-img>img {
    transition: 0.3s;
    filter: opacity(0)
}
.project-item:hover img {
    filter: opacity(0.2)
} */

/* ====== */
.footer {
    min-height: 400px;
    background-color: var(--footer-background-color);
    display: grid;
    grid-gap: 18px;
    padding-top: 20px;
}

@media screen and (max-width: 600px) {
    .footer {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 600px) and (max-width: 1080px) {
    .footer {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1080px) {
    .footer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.footer-column {
    padding: var(--card-padding);
}

.logo {
    font-size: 38px;
    text-align: center;
}

.footer-column-title {
    color: var(--link-color);
}

.footer-cloumn-link {
    display: block;
    margin: 10px 0;
    color: var(--link-color);
}

.footer-cloumn-link:hover {
    text-decoration: underline;
}