<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cape of Storm</title>
    <link rel="stylesheet" href="./css/indexStyle.css">
    <script src="./js/indexJS.js"></script>
</head>
<body>
    <div class="banner">
        <h2 class="banner-title">
            CAPE OF STORM
        </h2>
    </div>

    <div class="content">
        <div class="part">
            <h3 class="part-title">聚焦 | FOCUS</h3>
            <div class="focus">
                <br>
                <div class="focus-canvas">
                    <div class="focus-text">
                        <h3 class="focus-title">
                            CAPE OF STORM 2022
                        </h3>
                        <p class="focus-summary">
                            用代码改变世界 !
                        </p>
                    </div>
                    <div class="focus-logo">
                        <img width="100%" src="./public/image/coding.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="part" id="project">
            <h3 class="part-title">所有项目 | PROJECT</h3>
            <div class="project">
                <br>
                <div class="project-list">
                    <a v-for="item in project" :href="item.url">
                        <div class="project-item">
                            <div class="project-item-img">
                                <img style="width: 100%" :src="item.imgUrl" alt="Preview">
                            </div>
                            <h4 class="project-item-name">{{item.name}}</h4>
                            <br>
                            <p class="project-item-summary">{{item.summary}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="part" id="developer">
            <h3 class="part-title">开发者 | DEVELOPER</h3>
            <div class="member">
                <br>
                <div class="member-list">
                    <div class="member-item" v-for="item in developers">
                        <a class="member-item-link" target="_blank" :href="item.url">
                            <img height="30" src="./public/icon/detail.png" alt="Detail">
                        </a>
                        <br>
                        <div class="member-item-avatar">
                            <img style="width: 100%" :src="item.avatar" alt="avatar">
                        </div>
                        <br>
                        <h4 class="member-item-username"><i>{{item.username}}</i></h4>
                        <p class="member-item-summary">{{item.bio}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-column">
            <div class="footer-cloumn-list">
                <h2 class="logo">
                    <span style="color: #6F38C5;">Cape</span>
                    <br> 
                    <span style="color: #374591;">of</span>
                    <br>
                    <span style="color: #87A2FB;">Storm</span>
                </h2>
            </div>
        </div>
        <div class="footer-column">
            <h4 class="footer-column-title">官方主页</h4>
            <div class="footer-cloumn-list">
                <a href="https://github.com/capeofstorm" class="footer-cloumn-link" target="_blank">
                    GitHub
                </a>
                <a href="#" class="footer-cloumn-link" target="_blank">
                    Twitter
                </a>
            </div>
        </div>
        <div class="footer-column">
            <h4 class="footer-column-title">合作组织</h4>
            <div class="footer-cloumn-list">
                <a href="#" class="footer-cloumn-link" target="_blank">
                    金发双马尾保护协会
                </a>
                <a href="#" class="footer-cloumn-link" target="_blank">
                    烈酒风暴Stoutstorm
                </a>
            </div>
        </div>
        <div class="footer-column">
            <h4 class="footer-column-title">友情链接</h4>
            <a href="#" class="footer-cloumn-link" target="_blank">
                
            </a> 
        </div>
    </div>

    <script type="module">
        import { createApp, reactive } from './js/vue/vue.esm@3.2.40-browser.js'
        import developersStore from './js/store/developer.js'
        import projectStore from './js/store/project.js'
        
        createApp({
            setup(){
                let developers =  reactive([])
                developers = developersStore
                return {
                    developers
                }
            }
        }).mount('#developer')

        createApp({
            setup(){
                let project =  reactive([])
                project = projectStore
                return {
                    project
                }
            }
        }).mount('#project')
    </script>
</body>
</html>